.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    filter: var(--primary-shadow);
    align-items: flex-end
}

.imageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
    color: #FFFFFF;
    background: #0066CC;
    max-width: 500px;
    padding: 7px 17px 7px 10px;
    border-radius: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 15px;
}

.text:after {
    content: "";
    position:absolute;
    width: 18px;
    height: 18px;
    background: #0066CC;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    transform: translate3d(34px, 7px, 0);
}

.name {
    font-weight: 600;
    color: white;
}

.messageText {
    color: white;
}

.time {
    width: 38px;
    display: flex;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    margin-top: 2px;
    margin-right: 5px;
}