.buttonsContainer {
}

.responseContainer {
}

.imageContainer {
    width: 150px;
    height: 150px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.textContainer{
}

.code {
}

.text {
}
.info {
}