.buttonsContainer {
    margin-top: 20px;
    display: flex;
    gap: 21px;
}

.clock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.watch {
}

.watch strong {
}

.more {
opacity: 0.5;
}